{% extends 'tbase.html' %}
{% load static %}

{% block title_head %}
<title>Creador</title>
{% endblock title_head %}

{% block h1_header %}
Acerca del creador de la página
{% endblock h1_header %}

{% block content %}

<img style="margin-left: 40%" src="{% static 'imagenes/about_me.jpeg' %}" alt="">

<p style="text-align: center">Hola, mi nombre es Matias Vichachi. Soy estudiante de la Facultad de Ciencias Economicas de Licenciatura en Sistemas y recientemente recibido de Administrador de Empresas. Ingrese a Coderhouse con el objetivo de aprender las bases del lenguaje Pyhton.</p>


{% endblock content %}
